
<p-panel header="Selected File Details">
<div style="border-style: outset;border-width: 5px 5px 5px 5px">
<label for="title-file">File: </label>
<input style="border-style: none; background: white" id= "title-file" type="text" size="64" disabled="true" pInputText [(ngModel)]="title"/>
</div>
<p-tabView >
    <p-tabPanel leftIcon="fa-file-text" header="File Content">
        <textarea disabled="true" [rows]="30" [cols]="100" [(ngModel)]="tabContentText" ></textarea>
    </p-tabPanel>
    <p-tabPanel  leftIcon="fa-info" header="File Info">
        <textarea disabled="true" [rows]="30" [cols]="100" [(ngModel)]="tabInfoText"></textarea>
    </p-tabPanel>
</p-tabView>
</p-panel>