
<p-overlayPanel #readingdocs [showCloseIcon]="true">
        <p-card title="Help" subtitle="Reading Articles" styleClass="ui-card-shadow">
            BaoBab supports the reading of any content under a top level content directory.<br/>
            1.) To read a single article open the navigation tree and select the article in the tree. <br/>
            2.) Alternatively select a group of articles in the tree, and select a single article from the section list<br/>
            3.) Use the browser forward and back buttons to navigate between selected items.<br/>
        </p-card>
</p-overlayPanel>
<p-overlayPanel #editingdocs [showCloseIcon]="true">
        <p-card title="Help" subtitle="Editing Articles" styleClass="ui-card-shadow">
            All BaoBab content is readable by all users, but only registered users<br/> 
            can modify site material. Before editing articles you must login to the site.<br/>
            To edit an article:<br/>
            1.) View an article by selecting it in the navigation tree<br/>
            2.) Edit the article<br/>
            3.) Right click on the article in the tree view and select the  menu item 'Save Article'<br/>
            3.) Press 'Yes' in the confirmation dialog to save the article<br/>
        </p-card>
</p-overlayPanel>
<p-overlayPanel #creatingdocs [showCloseIcon]="true">
        <p-card title="Help" subtitle="Creating Articles" styleClass="ui-card-shadow">
            All BaoBab content is readable by all users, but only registered users can modify<br/>
            site material. Before creating new articles you must login to the site. <br/>
            To create a new article:<br/>
            1.) Right click on a directory and select menu item 'New Article'<br/>
            2.) In the 'Create' dialog enter a unique name of the new article and press 'Ok'<br/>
            3.) The new article is created straightaway and highlighted in the tree.<br/>
            4.) Start editing the new article and save details regularly (See help topic 'Editing Articles')<br/>
        </p-card>
</p-overlayPanel>
<p-overlayPanel #deletingdocs [showCloseIcon]="true">
    <p-card title="Help" subtitle="Deleting Articles" styleClass="ui-card-shadow">
        All BaoBab content is readable by all users, but only registered users can modify<br/>
        site material. Before deleting articles you must login to the site. <br/>
        To delete an article:<br/>
        1.) View an article by selecting it in the navigation tree<br/>
        2.) Right click on the article in the tree view and select the  menu item 'Delete Article'<br/>
        3.) Press 'Yes' in the confirmation dialog to delete the article<br/>
    </p-card>
</p-overlayPanel>
<p-overlayPanel #creatingdir [showCloseIcon]="true">
    <p-card title="Help" subtitle="Deleting Directories" styleClass="ui-card-shadow">
        All BaoBab content is readable by all users, but only registered users can modify<br/>
        site material. Before deleting directories you must login to the site. <br/>
        To create a new directory:<br/>
        1.) Right click on a directory and select menu item 'New Directory'<br/>
        2.) In the 'Create' dialog enter a unique name of the new directory and press 'Ok'<br/>
        3.) The new directory is created<br/>
    </p-card>
</p-overlayPanel>
<p-overlayPanel #deletingdir [showCloseIcon]="true">
    <p-card title="Help" subtitle="Deleting Directories" styleClass="ui-card-shadow">
        All BaoBab content is readable by all users, but only registered users can modify<br/>
        site material. Before deleting directories you must login to the site. <br/>
        To delete a directory:<br/>
        1.) Select the directory in the navigation tree<br/>
        2.) Right click on the directory in the tree view and select the  menu item 'Delete Directory'<br/>
        3.) Press 'Yes' in the confirmation dialog to delete the directory<br/>
    </p-card>
</p-overlayPanel>
<p-overlayPanel #renamefile [showCloseIcon]="true">
    <p-card title="Help" subtitle="Rename Article" styleClass="ui-card-shadow">
        All BaoBab content is readable by all users, but only registered users can modify<br/>
        site material. Before renaming articles you must login to the site. <br/>
        To rename an article<br/>
        1.) Select the article in the navigation tree<br/>
        2.) Right click on the article in the tree view and select the  menu item 'Rename Article'<br/>
        3.) Rename the article and press the save button<br/>
    </p-card>
</p-overlayPanel>
<p-overlayPanel #movefile [showCloseIcon]="true">
    <p-card title="Help" subtitle="Move Article" styleClass="ui-card-shadow">
        All BaoBab content is readable by all users, but only registered users can modify<br/>
        site material. Before moving articles you must login to the site. Also note that by default<br/>
        the ability to move articles is disabled. To allow articles to be moved see 'Configuring User Settings'<br/>
        To move an article<br/>
        1.) Select the article in the navigation tree<br/>
        2.) Drag the article and drop it in a different directory<br/>
        <br/>
    </p-card>
</p-overlayPanel>
<p-overlayPanel #usersettings [showCloseIcon]="true">
    <p-card title="Help" subtitle="Configuring User Settings" styleClass="ui-card-shadow">
        Before configuring user settings you must login to the site.<br/>
        To display and configure user settings, select 'Settings' from the 'Logon' menu.<br/>
        Each user has the ability to configure the following settings:<br/>
        <b>'Allow articles to be moved' (No)</b>- Switch to 'Yes' to allow articles to be
         moved via drag and drop. <br/>
         <b>'Auto save article' (No) </b>- Switch to 'Yes' for current article to be automatically<br/>
        saved without prompting. Set <b>'Save article every ? seconds'</b> to set the <br/>
        approximate frequency that articles will be automatically saved <br/>
        <b>'Auto save article before logout' (Yes)</b>- Switch to 'Yes' to automatically save article<br/>
        without prompting just before logout.   Set <b>'Save ? seconds before logout'</b> to set the<br/>
        approxmimate time before logout that the article will be saved.<br/>
        To save settings close the dialog by pressing the 'Save' button.<br/>
        To view settings only and lose any changed settings, close the dialog by pressing the 'Cancel' button.<br/>
        <br/>
    </p-card>
</p-overlayPanel>
<p-sidebar [(visible)]="display" position="right">
    <p-card title="Help" subtitle="Topics" styleClass="ui-card-shadow">
        <p-header>
            <img  src="assets/books.jpg">
        </p-header>
        <p>1.) Reading Articles <button (click)="readingdocs.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>2.) Editing Articles <button (click)="editingdocs.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>3.) Creating Articles <button (click)="creatingdocs.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>4.) Deleting Articles <button (click)="deletingdocs.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>5.) Renaming Articles <button (click)="renamefile.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>6.) Moving Articles <button (click)="movefile.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>7.) Creating Directory <button (click)="creatingdir.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>8.) Deleting Directory <button (click)="deletingdir.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
        <p>9.) Configuring User Settings <button (click)="usersettings.show($event, actualTarget)"><i class="fa fa-angle-double-right"></i></button></p>
    <p-footer>
        <button pButton type="button" label="Ok" icon="fa-check" (click)="display=false"> </button>
        <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary" (click)="display=false"></button>
    </p-footer>
</p-card>
</p-sidebar>
